body {
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    position: relative;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #DBCABF;
    z-index: 0;
}

.menu-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; /* Asegura que el contenido del menú esté delante del fondo */
    padding-left: 100px;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 300px;
}

.nav {
    display: flex;
}

.nav a {
    margin: 0 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover {
    color: hsl(34, 56%, 29%); /* Color al pasar el ratón por encima */
}

/* Estilos para el contenido adicional */
.additional-content {

    padding: 20px;
    text-align: center;
    margin-top: 60px; /* Aumentar el margen superior para mover hacia abajo */
}

.additional-content .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.additional-content .grid-item {
    background-color: #CEC0B3; /* Color de fondo de cada cuadro */
    border: 2px solid white; /* Borde blanco de 2px */
    margin: 10px; /* Espacio entre los cuadros */
    padding: 20px; /* Espacio interno dentro de cada cuadro */
    width: calc(33.33% - 20px); /* Ajusta el ancho para tres cuadros por fila */
    text-align: center; /* Centra el contenido dentro del cuadro */
}

.additional-content .grid-item h3 {
    margin-top: 0; /* Elimina el margen superior del título */
}

.additional-content .grid-item img {
    display: block;
    margin: 0 auto;
    width: 80%; /* Ajusta el tamaño de la imagen */
    border-radius: 0; /* Quitar la forma redonda */
}

.additional-content .grid-item p {
    text-align: center;
}

/* Estilo para el párrafo centrado después de la barra de inicio */
.centered-paragraph {
  
    padding: 20px;
    color: white; /* Color del texto */
    text-align: center;
    margin-top: 20px; /* Espacio hacia arriba */
}

/* Estilos para el cuadro al final de la página */
.bottom-content {
    background-color: #DBCABF;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Empuja el contenido hacia la parte inferior de la página */
    display: flex; /* Añadir flexbox para centrar el contenido verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Ancho máximo del cuadro */
    margin: 0 auto; /* Centra el cuadro horizontalmente */
}

.small-logo {
    width: 50px; /* Ajusta el tamaño del logo pequeño */
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    width: 30px; /* Ajusta el tamaño de los íconos según sea necesario */
    height: auto;
}

.terms {
    flex: 1; /* Hace que ocupe el espacio restante */
    text-align: center;
    display: flex; /* Añadir flexbox para centrar el contenido verticalmente */
    flex-direction: column; /* Asegurar que los hijos estén en columna */
    justify-content: center; /* Centrar verticalmente */
}

.small-text {
    font-size: 14px; /* Tamaño de letra más pequeño para los términos y condiciones */
    line-height: 1.6; /* Ajusta el interlineado para mejorar la legibilidad */
}
